<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CDRT{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="static/images/logo.jpg" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="nav-container">
            <a href="{{ url_for('index') }}" class="logo" style="display: flex; align-items: center; justify-content: center;">
                <img src="{{ url_for('static', filename='images/iitbhu.gif') }}" alt="Logo" style="height: 70px;">
            </a>
            <a href="{{ url_for('index') }}" class="logo" style="display: flex; align-items: center; justify-content: center;">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="Logo" style="height: 70px; margin-right: 15px;">
                <span style="font-size: 1.5rem;">CDRT : AGARC</span>
            </a>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
            <nav class="nav-links">
                <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                <a href="{{ url_for('about') }}" class="nav-link">About the Lab</a>
                <a href="{{ url_for('research') }}" class="nav-link">Research/Projects</a>
                <a href="{{ url_for('team') }}" class="nav-link">Team</a>
                <a href="{{ url_for('gallery') }}" class="nav-link">Gallery</a>
                <a href="{{ url_for('contact') }}" class="nav-link">Contact Us</a>
            </nav>
        </div>
    </header>
    <!-- Main Content -->
    {% block content %}{% endblock %}
</body>
</html> 